doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
    title Setup Form
  body
    .main-container
        form(id="setupForm" action="/setup" method="POST")
          label(for="sessionId") Session ID
          input(type="text" name="sessionId" id="sessionId" required)
          br
          label(for="sessionLength") Session Length
          .session-length-container
            input(type="number" name="sessionLength" id="sessionLength" required min="0")
            select(name="sessionLengthType", id="sessionLengthType", required)
              option(value="seconds") Secs
              option(value="points") Pts
          br
          label(for="buttonActive") Active Button
          select(name="buttonActive" id="buttonActive" required)
            option(value="left") Left
            option(value="right") Right
          br
          b
            label(for="leftButton") Left Button
          .shape-container
            label(for="leftButtonShape") Shape
            select(name="leftButtonShape" id="leftButtonShape" required)
              option(value="rectangle") Rectangle
              option(value="square") Square
              option(value="circle") Circle
            label(for="leftButtonColor") Color
            input(type="color" name="leftButtonColor" id="leftButtonColor" value="#00ff00" required)
          br
          b
            label(for="middleButton") Middle Button
          .shape-container
            label(for="middleButtonShape") Shape
            select(name="middleButtonShape" id="middleButtonShape" required)
              option(value="rectangle") Rectangle
              option(value="square") Square
              option(value="circle") Circle
            label(for="middleButtonColor") Color
            input(type="color" name="middleButtonColor" id="middleButtonColor" value="#00ff00" required)
          br
          b
            label(for="rightButton") Right Button
          .shape-container
            label(for="rightButtonShape") Shape
            select(name="rightButtonShape" id="rightButtonShape" required)
              option(value="rectangle") Rectangle
              option(value="square") Square
              option(value="circle") Circle
            label(for="rightButtonColor") Color
            input(type="color" name="rightButtonColor" id="rightButtonColor" value="#00ff00" required)
          br
          label(for="pointsAwarded") Points Awarded
          input(type="number" name="pointsAwarded" id="pointsAwarded"
              required min="0")
          br
          label(for="clicksNeeded") Clicks Before Award
          input(type="number" name="clicksNeeded" id="clicksNeeded"
              required min="0")
          br
          label(for="startingPoints") Starting Points
          input(type="number" name="startingPoints" id="startingPoints" required min="0")
          br
          button(type="submit") Submit

