/* style.css */
body {
  text-align: center;
}

.main-container, form#setupForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

form#setupForm {
  display: block;
  width: 100%;
}

form#sessionForm {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

label {
  display: block;
  margin-bottom: 10px;
}

.session-length-container {
  display: flex;
  width: 50%;
  margin-left: 100px;
}

.session-length-container select, .session-length-container input[type="number"] {
  border: 1px solid;
  height: 34px;
}

.session-length-container input[type="number"] {
  flex: 2;
  border-right: none;
}

.session-length-container select {
  flex: 1;
  padding: 4px 5px;
  font-size: 0.8em;
  margin-bottom: 10px;
}

.shape-container {
  display: flex;
  align-items: center;
}
.shape-container label,
.shape-container select {
  width: 60%;
  margin-right: 10px;
}

.shape-container input[type="color"] {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
form select:not(.session-length-select) {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button.rectangle {
  width: 125px;
  height: 47px;
  border-radius: 0;
}

button.square {
  width: 100px;
  height: 100px;
  border-radius: 0;
  padding: 10px 20px;
}

button.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
}

#pointsDisplay {
  font-size: 5em;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
